################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/kims-fragment/GPT-Demo/GPT-Demo/Program.cs
.vs/
bin/
obj/
*.user
*.suo
